*{
    margin: 0;
    padding: 0;
}
.container{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.box{
    border: 1px solid rgb(240, 12, 12);
    border-radius: 10px;
    background-color: brown;
    color: azure;
    text-align: center;
    background-image: url(.);

}