@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #eef3f9;
}

button {
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: #ffffff;
    width: 1000px;
    box-shadow: 2px 2px 40px #e4e5fa;

}

.layout {
    display: inline-block;
    margin: 20px 45px 20px 20px;
    background-image: linear-gradient(#b78fe8, #6e59ce);
    padding: 65px 65px 175px 65px;
    width: 450px;
    vertical-align: middle;
}

.tick-group {
    margin-bottom: 45px;
    color: #fffbff;
}

.quick h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.quick p {
    font-size: 14px;
}

.tick {
    padding: 8px 10px;
    border-radius: 50%;
    line-height: 16px;
    background-color: #c3a5eb;
    color: #fff;
    margin-bottom: 20px;
    border: 0;
}

.tick:hover {
    background-color: #bc8ef8;
}

.card {

    display: inline-block;
    width: 425px;
    font-size: 0;
    vertical-align: middle;
}

.card-header {
    padding-bottom: 40px;
    color: rgb(12, 11, 11);
}

.card-header h1 {
    padding-top: 100px;
    padding-left: 35px;
    font-size: 30px;
    letter-spacing: 1px;
}

.card-body {
    padding: 20px 35px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 40px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
    color: rgb(7, 7, 7);
}

.form-group input {
    color: inherit;
    width: 100%;
    border: 1px solid #e5e6fc;
    padding: 10px 12px;
    border-radius: 5px;
}

.form-group input:hover {
    border: 1px solid #e4e5fa;
    box-shadow: 2px 2px 10px #e4e5fa;
}

.form-group input::placeholder {
    color: #76768e;
}

.form-group input:focus{
    outline: none;
}
button{
    outline: none;
}
.wrappwer {
    text-align: center;
}

.btn-submit {
    background-color: #6e59ce;
    width: 350px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    box-shadow: 2px 2px 10px #e7dff0;
}

.btn-submit:hover {
    background-color: #9344f5;
}

.check p {
    font-size: 14px;
    padding-bottom: 20px;
    color: #76768e;
}